h1{
     font-family:'Franklin Gothic Medium' 
     
}
h1{
     font-size:80 ;
}
h1{
     letter-spacing 0;
}
h1{
     text-align:center;
}
h1{
     background-color: #ff69b4;
}
#caixa{                          
     border:0px;
     padding:100px; 
     margin:0px; 
     content:20;